<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="companyName">Company Name</label>
                <input type="text" formControlName="companyName" class="form-control" (keyup) ="setEmail(formControls.companyName.value)"[ngClass]="{ 'is-invalid': submitted && formControls.companyName.errors }" />
                <div *ngIf="submitted && formControls.companyName.errors" class="invalid-feedback">
                    <div *ngIf="formControls.companyName.errors.required">Company Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }" 
                 placeholder="example@yourcompnayname.com"/>
                <div *ngIf="submitted && formControls.email.errors" class="invalid-feedback">
                    <div *ngIf="formControls.email.errors.required">Email is required</div>
                    <div *ngIf="formControls.email.errors.email">please enter a valida email</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.password.errors }" />
                <div *ngIf="submitted && formControls.password.errors" class="invalid-feedback">
                    <div *ngIf="formControls.password.errors.required">Password is required</div>
                    <div *ngIf="formControls.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="apiUrl">Api Url</label>
                <input type="text" formControlName="apiUrl" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.apiUrl.errors }" />
                <div *ngIf="submitted && formControls.apiUrl.errors" class="invalid-feedback">
                    <div *ngIf="formControls.apiUrl.errors.required">Api Url is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="apiKey">Api Key</label>
                <input type="apiKey" formControlName="apiKey" class="form-control" [ngClass]="{ 'is-invalid': submitted && formControls.apiKey.errors }" />
                <div *ngIf="submitted && formControls.apiKey.errors" class="invalid-feedback">
                    <div *ngIf="formControls.apiKey.errors.required">api Key is required</div>
                </div>
            </div>
            <div class="form-group">
                <!-- <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button> -->
                <button  class="btn btn-primary">
                    <span ></span>
                    Register
                </button>
            </div>
        </form>
    </div>
</div>